@using ISynergy.Framework.Core.Services
@using ISynergy.Framework.UI.Constants
@using Microsoft.FluentUI.AspNetCore.Components
@using Sample.Components.Controls

<div class="page">
	<FluentLayout>
		<FluentHeader Class="siteheader">
			Sample
		</FluentHeader>

		<FluentStack Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
			<NavigationMenuControl />

			<FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
				<FluentMessageBarProvider Section="@MessageConstants.MESSAGES_TOP" ClearAfterNavigation="true" />

				<div class="@ContentClass" style="display: flex; flex-direction: column; height: 100%;">
					<article id="article" class="@ArticleClass" style="margin: 4px; flex: 1; min-height: 0; display: flex; flex-direction: column;">
						@Body
					</article>
				</div>
			</FluentBodyContent>
		</FluentStack>

		<FluentFooter Style="@("height: 40px; color: white;  font-size: var(--type-ramp-minus-1-font-size); line-height: var(--type-ramp-base-line-height);")">
			<div class="version">
			</div>
			<FluentSpacer />
			<div class="copy">
			</div>
		</FluentFooter>

		<FluentDialogProvider />
		<FluentToastProvider MaxToastCount="10" />
		<FluentTooltipProvider />
		<FluentKeyCodeProvider />
		<FluentMenuProvider />
	</FluentLayout>

	<FluentOverlay Visible="@_commonServices.BusyService.IsBusy"
				   Transparent=false
				   FullScreen=true
				   Interactive="@true"
				   InteractiveExceptId="busyIndicator"
				   PreventScroll=true>
		<div id="busyIndicator" style="width: 100vw; height: 100vh; display:flex; align-items:center; justify-content:center">
			<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
				<FluentProgressRing />
				<FluentLabel>@_commonServices.BusyService.BusyMessage</FluentLabel>
			</FluentStack>
		</div>

	</FluentOverlay>
</div>